// ====
// Base
// ====
h1 {
  font-size: 185%;
  margin-bottom: 1rem;
  line-height: 1.2;
}

h2 {
  font-size: 150%;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

h3 {
  font-size: 125%;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.5;
}
